<!DOCTYPE html>
<html>
<head>
	<title>
		PS2 2022 BaiasuBadleh
	</title>
</head>

<style>
	p {
		font-weight: bold;
		font-size: 20px;
	}
	button {
		padding: 12px 28px;
		width: 200px;
	}
	
</style>

<body>
	<p> PS2 2022 BaiasuBadleh </p>
	<div id="tempOutput"></div>
        <p class="Tempetarure"> Temperature: {{tempOutput}}</p>
    </div>
	<div id="distOutput"></div>
		<p class="Distance"> Distance: {{distOutput}}</p>
	</div>	
	<button onclick="document.location='led_off'">LED OFF</button><br><br>
	<button onclick="document.location='led_on'">LED ON</button><br><br>
	<button onclick="document.location='set_rgb_led'">RGB LED</button><br><br>
	<button onclick="document.location='EEPROMmessages'">EEPROM Messages</button><br><br>

</body>
</html>
