<!DOCTYPE html>
<html>
<head>
	<title>
		RGB LED
	</title>
</head>

<style>
    p {
		font-weight: bold;
		font-size: 20px;
	}

    input {
        width: 50px;
        margin-right: 15px;
    }
</style>

<body>
    <p> SCALE RGB LED</p>

    <div class ="form">
        <form action="" method="post">
            <label for="RED">Red scale: </label> 
            <input type="text" placeholder="RED" name="RED" value="{{request.form.RED}}">
            <label for="GREEN">Green scale: </label>
            <input type="text" placeholder="GREEN" name="GREEN" value="{{request.form.GREEN}}">
            <label for="BLUE">Blue scale: </label>
            <input type="text" placeholder="BLUE" name="BLUE" value="{{request.form.BLUE}}">
            <input class="btn btn-default" type="submit" value="RGB">
        </form>
    </div>

</body>

